<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941586635481-nea3t3qgoamg95cgudalli292j31s7d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941586635481-nea3t3qgoamg95cgudalli292j31s7d2</string>
	<key>API_KEY</key>
	<string>AIzaSyDLe2meVvhWu1Fxxq_ydawyM_XxkVAxM-M</string>
	<key>GCM_SENDER_ID</key>
	<string>941586635481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mark.Fruit-Scanner</string>
	<key>PROJECT_ID</key>
	<string>fruitscanner-26088</string>
	<key>STORAGE_BUCKET</key>
	<string>fruitscanner-26088.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941586635481:ios:a597706f2a29f7d52efcc8</string>
</dict>
</plist>